{% extends 'layouts/base.html' %}
{% block title %}
Event Frontpage
{% endblock title %}
{% block content %}
{% from "_formHelper.html" import render_field %}

<!-- events table starts from here -->
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Product
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-end">
            <input type="text" style="margin-right: 5px;" id="myInput" onkeyup="myFunction()"
                placeholder="Search for products..">

            <a href="/admin/addproduct">
                <button class="btn btn-primary">
                    + Add Product
                </button>
            </a>
        </div>
        <table class="table table-bordered" style="margin: 10px;">
            <thead>
                <tr class="header">
                    <th>Name</th>
                    <th>Stock</th>
                    <th>Status</th>
                    <th>View</th>
                    <th>Delete</th>
                </tr>
            </thead>

                {% if creditt|length > 0 %}
                    {% for credit in creditt %}
                        {{ credit.cc_id }}



                {% endfor %}
                {% endif %}
    </div>
</div>



{% endblock content %}